@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background: url('../img/160807.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    width: 400px;
    height: 380px;
    background: transparent;
    border: 1px solid rgba(255, 188, 3, 1);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {
    font-size: 3em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label input {
    margin-right: 3px;

}

.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.arrow {
    position: absolute;
    top: 15%;
    left: 50px;
    color: #fff;
}

.flag-nl {
    position: absolute;
    top: 2%;
    right: 45px;
    width: 20px;
    height: 20px;
    border-radius: 20px;

}

.flag-en {
    position: absolute;
    top: 2%;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 20px
}

.used {
    border: 1px solid rgb(255, 188, 3);
}

.error-msg {
    margin: 10px 0;
    display: block;
    background-color: red;
    color: #fff;
    border-radius: 40px;
    text-align: center;
    position: relative;
}