@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    min-height: 100vh;
    width: 100%;
    
    background: url('../img/160807.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}
h2{
    font-size: 3em;
    color: #fff;
    text-align: center;
}
.login{
    position: absolute;
    width: 7%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: 600;
    right: 1%;
    top: 20%;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(50px);
}
.contact {
    position: absolute;
    width: 7%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: 600;
    left: 28%;
    top: 20%;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(50px);
}
.home {
    position: absolute;
    width: 7%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: 600;
    left: 20%;
    top: 20%;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(50px);
}
.logo {
    width: 18%;
    height: 85%;
    top:5%;
    left: 0px;
    position: absolute;
    size-adjust: 20%; 
    display: flex;
    background: transparent;
    border: 1px solid orange;
    backdrop-filter: blur(70px);
    border-radius: 40px;
}
.main-menu {
    background: url('img/BGMM.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 10%;
    position: absolute;
    border-radius: 30px;
    display: flex;
}
button {
    color: #fff;
}
.used {
    color: black;
}
.table{
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(50px);
    height: 90%;
    width: 100%;
    align-self: center;
    border: 1px solid orange;
    border-radius: 40px;
    text-decoration: none;
    margin-bottom: 30%;

}
.text{
    background-color: transparent;
    backdrop-filter: blur(50px);
    height: 100%;
    width: 100%;
    align-items: center;
    padding-right: 40%;
    border: 1px solid orange;
    border-radius: 40px;
    margin-left: 20%;
    text-decoration: none;

}
.table-db{
    text-align: center;
    text-decoration: none;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(50px);
    color:#fff;
}
.db{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    border: 1px solid orange;
    border-radius: 40px;
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(50px);
    text-align: center;
    font-size: large;
}
h1{
    color: white;
    text-decoration: none;
}
h3{
color: #fff;
float: left;
}
a{
    text-decoration: none;
    color:#fff;
}
.stick{
    position: static;
}
.flag-nl{
    position: absolute;
    top: 20%;
    right: 120px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    right: 5%;
}
.flag-en {
    position: absolute;
    top: 20%;
    right: 130px;
    width: 40px;
    height: 40px;
    border-radius: 20px
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox{
    position: absolute;
    right: 4%;
    top: 0.5%;
    width: 200px;
    border-bottom: 2px solid #fff;
    background-color: transparent;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.center{
    position: relative;
    padding: center;
    margin-left: 50%;
}
.logout{
    position: absolute;
    right: 20px;
    height: 40px;
    width: 40px;
    top: 20%;
    background-color: transparent;
    backdrop-filter: blur(50px);
    border: 1px solid orange;
    border-radius: 40px;
    color: black;

}
.logouticon{
    height: 20px;
    width: 20px;
    top: 3%;
}
@media only screen and (max-width: 768px) {
    .db{
        width: 100%;
        height: 100%;
        margin-top: 10%;
        border: 1px solid orange;
        border-radius: 40px;
        position: relative;
        background-color: transparent;
        backdrop-filter: blur(50px);
        text-align: center;
        font-size: x-small;
        
    }  
    .logo {
        width: 18%;
        height: 60%;
        top:20%;
        left: 0px;
        position: absolute;
        size-adjust: 20%; 
        display: flex;
        background: transparent;
        border: 1px solid orange;
        backdrop-filter: blur(70px);
        border-radius: 40px;
    }
    .flag-nl{
        position: absolute;
        top: 20%;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        right: 5%;
    }
    .flag-en {
        position: absolute;
        top: 20%;
        right: 1%;
        width: 20px;
        height: 20px;
        border-radius: 20px
    }
}